body {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 100px;

  font-family: Roboto, sans-serif;

  background-image: linear-gradient(45deg, #4ebd36, #7e7cf9);
  background-attachment: fixed;
}

table {
  border-collapse: collapse;
  min-width: 600px;
  max-width: 1000px;
}

tr {
  color: #808080;
  background: #fff;
}

tr:nth-child(2n + 1) {
  background: #f5f5f5;
}

thead tr:first-child {
  color: #fff;
  background: #e25644;
}

tfoot tr:first-child {
  background: #f5f5f5;
}

td,
th {
  padding: 18px;
  text-align: left;
}

thead th:hover {
  cursor: pointer;
  color: #fff400;
}

thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

tfoot tr th:first-child {
  border-bottom-left-radius: 10px;
}

tfoot tr th:last-child {
  border-bottom-right-radius: 10px;
}

tbody tr:hover {
  cursor: pointer;
  color: #585858;
  background: #f5f5f5;
}

tr.active {
  color: #585858;
  background: #cbcbcb;

  &:hover {
    color: #585858;
    background: #cbcbcb;
  }
}

.new-employee-form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-self: flex-start;

  box-sizing: border-box;
  width: 300px;
  margin-left: 24px;
  padding: 24px;
  border-top: #e25644 solid 54px;
  border-radius: 10px;

  color: #808080;

  background: #f5f5f5;

  &::before {
    content: 'New employee';

    position: absolute;
    top: -36px;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 8px;
    input,
    select {
      box-sizing: border-box;
      width: 150px;
      padding: 4px;
      border: 1px solid #808080;
      border-radius: 4px;

      color: #808080;

      outline-color: #808080;
    }
  }

  button {
    cursor: pointer;

    box-sizing: border-box;
    margin-top: 16px;
    padding: 8px 0;
    border: 2px solid transparent;
    border-radius: 10px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

    background: #e25644;

    transition:
      0.25s ease color,
      0.25s ease background,
      0.25s ease border;

    &:hover {
      border: 2px solid #e25644;
      color: #e25644;
      background: #fff;
    }
  }
}

.cell-input {
  padding: 0;
  border: none;

  font-size: 16px;
  color: #808080;

  background: transparent;
  outline: none;
}

.notification {
  position: absolute;
  top: 10px;
  right: 10px;

  box-sizing: border-box;
  width: 300px;
  min-height: 100px;
  padding: 0 16px;
  border-radius: 10px;

  background: rgba(132, 132, 132, 0.3);

  .title {
    display: block;
    font-size: 20px;
    font-weight: 900;
  }

  &.warning {
    background: rgba(255, 212, 39, 0.3);
  }

  &.success {
    background: rgba(10, 189, 0, 0.3);
  }

  &.error {
    background: rgba(253, 0, 0, 0.3);
  }
}
